{% for date, plays in playsGroupedByDate %}
    <section class="date">
        <span class="date-label">
            <time datetime="{{ date }}">{{ date|date("d.m.y") }}</time>
        </span>
        <div class="played-boardgames">
            {% for play in plays %}
                <article class="boardgame">
                    <img class="boardgame-image"
                         src="{{ play.boardgame.thumbnailUrl }}"
                         alt="{{ play.boardgame.title }}"
                         title="{{ play.boardgame.title }}"
                         loading="lazy"
                    />
                </article>
            {% endfor %}
        </div>
    </section>
{% endfor %}