<ol>
    {% for date, plays in playsGroupedByDate %}
        <section>
            <span><time datetime="{{ date }}">{{ date|date("d.m.y") }}</time></span>
            <ol>
                {% for play in plays %}
                    <li>
                        <img src="{{ play.boardgame.thumbnailUrl }}" alt="{{ play.boardgame.title }}" title="{{ play.boardgame.title }}"/>
                    </li>
                {% endfor %}
            </ol>
        </section>
    {% endfor %}
</ol>